table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}
td {
  text-align: center;
}
th {
  background-color: green;
}

div,
a {
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
